@keyframes bigimage {
  0% {
    left: -0%;
  }
  50% {
    left: 40%;
  }
  60% {
    top: 18%;
    left: 40%;
  }
  70% {
    top: 25%;
    left: 40%;
  }
  80% {
    top: 18%;

    left: 40%;
  }
  90% {
    top: 25%;

    left: 40%;
  }
  100% {
    top: 22%;

    left: 40%;
  }
}

@keyframes bigimageRight {
  0% {
    right: -0%;
  }
  50% {
    right: 20%;
  }
  60% {
    top: 18%;
    right: 20%;
  }
  70% {
    top: 25%;
    right: 20%;
  }
  80% {
    top: 18%;

    right: 20%;
  }
  90% {
    top: 25%;

    right: 20%;
  }
  100% {
    top: 22%;

    right: 20%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.3);
    background-color: rgb(93, 193, 196);
  }
  50% {
    transform: scale(1);
    background-color: rgb(177, 236, 109);
  }
  100% {
    transform: scale(1.3);
    background-color: rgb(85, 228, 56);
  }
}

@keyframes pulsegain {
  0% {
    transform: scale(1.3);
    font-size: 60px;
    color: rgb(93, 193, 196);
  }
  50% {
    transform: scale(1);
    font-size: 50px;
    color: rgb(177, 236, 109);
  }
  100% {
    transform: scale(1.3);
    font-size: 60px;
    color: rgb(85, 228, 56);
  }
}
