@keyframes bigimage {
  0% {
    left: -10%;
  }
  30% {
    left: 40%;
  }
  60% {
    top: 18%;
    left: 40%;
  }
  70% {
    top: 25%;
    left: 40%;
  }
  80% {
    top: 18%;

    left: 40%;
  }
  90% {
    top: 25%;

    left: 40%;
  }
  100% {
    top: 22%;

    left: 40%;
  }
}
